[submodule "Tone.js"]
	path = Tone.js
	url = https://github.com/Girlfriends/Tone.js.git
	branch = dev
[submodule "src/js/freesound.js"]
	path = server/freesound.js
	url = https://github.com/Girlfriends/freesound.js.git
