[submodule "src/js/freesound.js"]
	path = src/js/freesound.js
	url = git@github.com:Girlfriends/freesound.js.git
[submodule "Tone.js"]
	path = Tone.js
	url = git@github.com:Girlfriends/Tone.js.git
	branch = dev
