.sample-picker {
	width: 100%;
	height: 80px;
	background-color: yellow;
}

.sample-picker-focused {
	height: 360px;
}

.sample-picker-enter {
	height: 80px;
}

.sample-picker-enter.sample-picker-enter-active {
	height: 360px;
	transition: height 150ms ease-out;
}

.sample-picker-exit {
	height: 360px;
}

.sample-picker-exit.sample-picker-exit-active {
	height: 80px;
	transition: height 150ms ease-out;
}
