div.sequence {
	display: flex;
	background-color: red;
	width: 80%;
	flex-flow: column wrap;
}

div.sequenceRow {
	display: flex;
	justify-content: space-between;
}

.sequence-cell {
	width: 10vw;
	height: 10vw;
	border: solid;
	border-width: 0.5px;
	border-color: black;
	background-color: gray;
}

.onset {
	background-color: orange;
}

.active {
	transform: scale(1.2);
}

.sequence-cell-enter {
	transform: scale(1.0);
}

.sequence-cell-enter.sequence-cell-enter-active {
	transform: scale(1.2);
	transition: transform 20ms ease-out;
}

.sequence-cell-exit {
	transform: scale(1.2);
}

.sequence-cell-exit.sequence-cell-exit-active {
	transform: scale(1.0);
	transition: transform 400ms ease-out;
}