div.sequence {
	display: flex;
	background-color: red;
	width: 80%;
	flex-flow: column wrap;
}

div.sequenceRow {
	display: flex;
	margin-bottom: 20px;
	justify-content: space-between;
}

div.sequenceCell {
	width: 60px;
	height: 60px;
	background-color: orange;
}