div.sequenceListContainer {
	height: 100%;
	flex: 4 0 0;
	overflow: hidden;
	position: relative;
}

div.sequenceContainer {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	background-color: blue;
	display: flex;
	align-items: center;
	justify-content: center;

	&.sequenceTop {
		transform: translateY(-100%);
		z-index: -1;
		&.slideTopIn-0 {
			animation-name: topSlideDown-0;
			animation-duration: 100ms;
			animation-timing-function: ease-in-out;
		}
		&.slideTopIn-1 {
			animation-name: topSlideDown-1;
			animation-duration: 100ms;
			animation-timing-function: ease-in-out;
		}
	}

	&.sequenceActive {
		transform: translateY(0%);
		z-index: 0;
		&.slideBottomIn-0 {
			animation-name: centerSlideUp-0;
			animation-duration: 100ms;
			animation-timing-function: ease-in-out;
		}
		&.slideBottomIn-1 {
			animation-name: centerSlideUp-1;
			animation-duration: 100ms;
			animation-timing-function: ease-in-out;
		}
		&.slideTopIn-0 {
			animation-name: centerSlideDown-0;
			animation-duration: 100ms;
			animation-timing-function: ease-in-out;
		}
		&.slideTopIn-1 {
			animation-name: centerSlideDown-1;
			animation-duration: 100ms;
			animation-timing-function: ease-in-out;
		}
	}

	&.sequenceBottom {
		transform: translateY(100%);
		z-index: -1;
		&.slideBottomIn-0 {
			animation-name: bottomSlideUp-0;
			animation-duration: 100ms;
			animation-timing-function: ease-in-out;
		}
		&.slideBottomIn-1 {
			animation-name: bottomSlideUp-1;
			animation-duration: 100ms;
			animation-timing-function: ease-in-out;
		}
	}
}

@keyframes centerSlideUp-0 {
	0% { transform: translateY(0%) }
	100% { transform: translateY(-100%) }
}
@keyframes centerSlideUp-1 {
	0% { transform: translateY(0%) }
	100% { transform: translateY(-100%) }
}

@keyframes centerSlideDown-0 {
	0% { transform: translateY(0%) }
	100% { transform: translateY(100%) }
}
@keyframes centerSlideDown-1 {
	0% { transform: translateY(0%) }
	100% { transform: translateY(100%) }
}

@keyframes bottomSlideUp-0 {
	0% { transform: translateY(100%) }
	100% { transform: translateY(0%) }
}
@keyframes bottomSlideUp-1 {
	0% { transform: translateY(100%) }
	100% { transform: translateY(0%) }
}

@keyframes topSlideDown-0 {
	0% { transform: translateY(-100%) }
	100% { transform: translateY(0%) }
}
@keyframes topSlideDown-1 {
	0% { transform: translateY(-100%) }
	100% { transform: translateY(0%) }
}
