div.sequencePicker {
	height: auto;
	flex: 1 0 0;
	background-color: #BFF9FF;
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
}

.sequencePickerButtonContainer {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: auto;
	margin-bottom: auto;
}

div.sequencePickerButton {
	width: 30px;
	height: 50px;
	background-color: darkgray;
	border-radius: 10px 0% 0% 10px;
	align-self: flex-end;

	&.active {
		width: 38px;
	}

	&.blinking {
		background-color: #E9B0E5;
	}
}